{#{% extends "SandboxMainBundle::skeleton.html.twig" %}#}

{#{% block content %}#}
{#&#123;&#35;<div class="articleContainer">&#35;&#125;#}
    {#&#123;&#35;<p>{{ content }}</p>&#35;&#125;#}
{#&#123;&#35;</div>&#35;&#125;#}


{#<div xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/"#}
     {#typeof="sioc:Post"#}
     {#about="{{ page.path }}"#}
     {#class="articleContainer">#}

    {#<ul rel="dc:subject" property="dc:subject">#}
        {#&#123;&#35;{% for subject in page.tags %}&#35;&#125;#}
        {#&#123;&#35;<li about="{{ subject|replace({'<': '', '>': ''}) }}"></li>&#35;&#125;#}
        {#&#123;&#35;{% endfor %}&#35;&#125;#}
    {#</ul>#}
    {#<h1 id="main_title" property="dcterms:title">{{ page.title|raw }}</h1>#}
    {#<div property="sioc:content">#}
        {#{{ page.content|raw }}#}
    {#</div>#}
{#</div>#}


{#{% endblock %}#}


{% extends "SandboxMainBundle::skeleton.html.twig" %}

{% block content %}
<div xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/"
     typeof="sioc:Post"
     about="{{ page.path }}"
     class="articleContainer">

    <ul rel="dc:subject" property="dc:subject">
        {% for subject in page.tags %}
        <li about="{{ subject|replace({'<': '', '>': ''}) }}"></li>
        {% endfor %}
    </ul>
    <h1 id="main_title" property="dcterms:title">{{ page.title|raw }}</h1>
    <div property="sioc:content">
        {{ page.content|raw }}
    </div>
</div>
{{ parent() }}
{% endblock %}

{#{% block bottom_scripts %}#}
{#console.log("hello ");#}
{#{{ parent() }}#}
{#{% endblock %}#}
