{% extends "SandboxMainBundle::skeleton.html.twig" %}

{% block content %}
    <div class="inner">
        <h1>{{ section.title }}</h1>
        <h2>Path: {{ path }}</h2>
        <h2>Mapped to: {{ odmClass }}</h2>
        <p><strong>{{ section.abstract }}</strong></p>
        {{ section.sectionText }}
    </div>
{% endblock %}
